In [1]:
# IMport our dependencies
import pandas as pd
import gmaps
import requests
# IMport api key
from config import g_key

In [2]:
# Store our CSV saved in part one into dataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-05-12 21:35:15,42.6001,-73.9662,85.78,40,17,3.00
1,1,Kerman,IR,2022-05-12 21:37:09,30.2832,57.0788,62.46,15,0,9.22
2,2,Katsuura,JP,2022-05-12 21:35:23,35.1333,140.3000,64.42,99,100,6.06
3,3,Jamestown,US,2022-05-12 21:37:00,42.0970,-79.2353,83.84,20,0,0.00
4,4,Puerto Ayora,EC,2022-05-12 21:37:10,-0.7393,-90.3518,82.36,90,52,4.00

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [6]:
# GENERAL SYNTAX FOR CREATING HEATMAP

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Google heatmaps do not plot negative numbers 'invalidWeightException'
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [20]:
# Get the max temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [21]:
# List comprehension of above for loop
[max(temp, 0) for temp in max_temp]

[85.78,
 62.46,
 64.42,
 83.84,
 82.36,
 91.0,
 53.47,
 70.14,
 55.36,
 48.47,
 58.62,
 77.27,
 56.17,
 60.91,
 67.08,
 58.95,
 76.89,
 34.03,
 68.38,
 82.15,
 47.95,
 16.59,
 42.91,
 49.55,
 71.2,
 53.69,
 48.79,
 45.59,
 48.65,
 80.04,
 80.58,
 42.46,
 51.73,
 15.98,
 56.39,
 49.96,
 83.08,
 73.56,
 61.11,
 66.06,
 81.32,
 51.31,
 49.69,
 67.71,
 57.04,
 49.12,
 46.4,
 53.62,
 82.96,
 82.45,
 69.89,
 44.94,
 78.98,
 87.17,
 49.01,
 55.87,
 79.65,
 86.29,
 52.38,
 54.01,
 86.0,
 57.51,
 78.93,
 66.42,
 78.48,
 79.65,
 73.45,
 63.18,
 82.45,
 69.1,
 82.26,
 58.37,
 76.41,
 75.06,
 42.35,
 49.19,
 74.62,
 83.07,
 76.08,
 71.04,
 62.82,
 70.95,
 95.61,
 37.35,
 76.8,
 29.53,
 70.45,
 73.78,
 76.3,
 40.14,
 32.77,
 21.72,
 52.48,
 79.25,
 66.94,
 53.1,
 69.89,
 49.75,
 76.51,
 79.72,
 86.02,
 51.15,
 45.12,
 91.26,
 45.59,
 69.85,
 38.88,
 78.96,
 38.77,
 63.54,
 62.22,
 26.62,
 52.14,
 53.6,
 35.64,
 75.42,
 58.86,
 80.51,
 83.84,
 26.62,
 73.65,
 50.0,
 61.75,
 34.21,
 79.95,
 78.06,
 72.52,
 62.26,
 58.98,
 43.65,
 33.78,
 74.43,
 48.87,
 73.69,
 82.11,
 75.18,
 74.88,
 47.41,
 63.97,
 48.34,
 18.52,
 78.96,
 19.24,
 28.56,
 78.19,
 52.52,
 59.9,
 30.02,
 79.75,
 75.18,
 51.69,
 64.8,
 76.95,
 28.27,
 71.24,
 80.49,
 65.82,
 46.4,
 47.57,
 85.73,
 32.7,
 66.22,
 77.45,
 80.87,
 76.95,
 65.05,
 82.06,
 59.68,
 68.36,
 62.51,
 44.85,
 77.76,
 65.98,
 25.32,
 55.96,
 78.1,
 35.15,
 80.53,
 39.16,
 68.25,
 39.36,
 75.15,
 60.96,
 46.36,
 51.85,
 24.53,
 80.15,
 69.66,
 81.86,
 37.53,
 42.4,
 78.91,
 61.12,
 81.63,
 81.84,
 54.39,
 40.62,
 58.66,
 11.8,
 59.29,
 25.03,
 56.07,
 64.78,
 79.25,
 84.18,
 73.65,
 88.03,
 56.62,
 78.98,
 60.44,
 87.71,
 41.59,
 77.04,
 81.05,
 56.39,
 64.47,
 55.4,
 41.23,
 69.91,
 79.47,
 91.18,
 57.24,
 72.93,
 79.14,
 83.21,
 66.42,
 71.06,
 78.13,
 72.0,
 58.93,
 56.79,
 24.8,
 34.47,
 62.13,
 83.14,
 66.2,
 88.83,
 75.07,
 16.11,
 52.16,
 37.47,
 77.5,
 32.49,
 73.8,
 85.98,
 71.69,
 49.95,
 61.54,
 45.61,
 48.79,
 32.41,
 63.34,
 82.45,
 46.87,
 82.99,
 39.65,
 77.56,
 65.86,
 62.76,
 57.31,
 34.97,
 65.14,
 82.85,
 80.58,
 61.34,
 77.67,
 85.48,
 42.66,
 91.36,
 45.25,
 50.54,
 90.1,
 57.11,
 77.54,
 30.65,
 58.17,
 80.15,
 53.44,
 78.64,
 69.39,
 75.9,
 91.94,
 69.98,
 66.11,
 67.15,
 62.38,
 87.96,
 79.7,
 68.81,
 54.97,
 80.76,
 34.25,
 79.5,
 76.23,
 51.69,
 34.9,
 60.3,
 42.69,
 65.82,
 47.59,
 79.68,
 66.18,
 64.44,
 75.42,
 56.91,
 67.84,
 35.44,
 69.96,
 48.2,
 55.58,
 79.39,
 82.54,
 73.99,
 76.17,
 73.29,
 79.57,
 39.88,
 48.83,
 87.96,
 83.46,
 48.97,
 71.28,
 78.84,
 80.73,
 53.35,
 71.71,
 55.72,
 64.62,
 65.19,
 60.71,
 80.83,
 38.64,
 53.62,
 76.98,
 77.36,
 31.68,
 57.43,
 9.82,
 70.11,
 84.15,
 45.01,
 37.4,
 87.75,
 53.89,
 49.86,
 60.31,
 84.13,
 93.88,
 82.45,
 72.9,
 65.21,
 26.56,
 92.03,
 90.5,
 69.82,
 34.52,
 82.49,
 68.38,
 74.75,
 76.24,
 69.8,
 64.47,
 74.28,
 83.34,
 73.35,
 34.92,
 71.56,
 73.78,
 88.84,
 36.37,
 59.05,
 55.17,
 62.67,
 64.33,
 77.22,
 50.05,
 35.83,
 74.01,
 46.44,
 82.53,
 52.56,
 54.36,
 40.96,
 38.53,
 62.73,
 90.16,
 51.57,
 73.47,
 42.67,
 76.8,
 78.76,
 65.19,
 77.43,
 76.53,
 45.9,
 49.93,
 44.98,
 79.14,
 76.08,
 56.93,
 78.84,
 56.97,
 41.97,
 82.11,
 80.01,
 43.5,
 43.02,
 75.29,
 58.53,
 77.43,
 78.24,
 81.95,
 43.75,
 32.45,
 46.45,
 43.75,
 96.76,
 53.82,
 55.89,
 32.58,
 39.69,
 58.35,
 77.83,
 82.89,
 72.37,
 43.92,
 76.59,
 40.33,
 60.94,
 65.95,
 63.64,
 53.85,
 53.53,
 72.93,
 65.53,
 79.48,
 77.5,
 48.34,
 58.17,
 66.22,
 74.26,
 43.77,
 78.44,
 43.81,
 68.54,
 61.48,
 70.48,
 64.94,
 69.31,
 60.82,
 82.51,
 92.12,
 95.5,
 54.91,
 83.88,
 41.97,
 37.78,
 61.29,
 44.26,
 92.35,
 46.31,
 81.03,
 46.02,
 72.34,
 72.45,
 84.16,
 44.82,
 58.53,
 43.72,
 31.28,
 86.07,
 90.3,
 81.79,
 33.39,
 73.72,
 86.02,
 69.78,
 60.94,
 79.18,
 74.62,
 76.91,
 59.77,
 79.79,
 73.33,
 82.99,
 52.41,
 52.48,
 93.9,
 36.59,
 69.55,
 61.3,
 77.97,
 83.01,
 47.01,
 59.95,
 82.15,
 35.6,
 78.33,
 69.71,
 48.85,
 49.86,
 62.8,
 64.9,
 77.65,
 58.89,
 77.36,
 59.11,
 82.96,
 69.85,
 84.27,
 35.83,
 74.53,
 89.01,
 64.76,
 48.11,
 34.05,
 42.31,
 80.1,
 68.05,
 75.29,
 65.55,
 37.71,
 77.16,
 40.95,
 73.72,
 71.38,
 48.18,
 68.86,
 72.95,
 54.68,
 44.92,
 77.83,
 82.36,
 78.31,
 54.43,
 87.06,
 78.21,
 84.0,
 29.03,
 68.86,
 60.75,
 61.72,
 33.53,
 60.1,
 48.45,
 37.74,
 98.53,
 66.83,
 50.05,
 93.65,
 51.85,
 51.69]

In [17]:
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-05-12 21:35:15,42.6001,-73.9662,85.78,40,17,3.00
3,3,Jamestown,US,2022-05-12 21:37:00,42.0970,-79.2353,83.84,20,0,0.00
4,4,Puerto Ayora,EC,2022-05-12 21:37:10,-0.7393,-90.3518,82.36,90,52,4.00
11,11,Rikitea,PF,2022-05-12 21:37:14,-23.1203,-134.9692,77.27,74,8,19.80
16,16,Poum,NC,2022-05-12 21:37:16,-20.2333,164.0167,76.89,70,100,33.40
19,19,Makakilo City,US,2022-05-12 21:37:17,21.3469,-158.0858,82.15,51,0,16.11
29,29,Maceio,BR,2022-05-12 21:32:45,-9.6658,-35.7353,80.04,83,75,5.75
30,30,Kapaa,US,2022-05-12 21:37:21,22.0752,-159.3190,80.58,78,75,17.27
36,36,Hithadhoo,MV,2022-05-12 21:37:24,-0.6000,73.0833,83.08,70,100,13.98
40,40,Butaritari,KI,2022-05-12 21:37:26,3.0707,172.7902,81.32,78,100,18.07

In [38]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [39]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0          Albany      US     85.78  42.6001  -73.9662
3       Jamestown      US     83.84  42.0970  -79.2353
4    Puerto Ayora      EC     82.36  -0.7393  -90.3518
11        Rikitea      PF     77.27 -23.1203 -134.9692
16           Poum      NC     76.89 -20.2333  164.0167
19  Makakilo City      US     82.15  21.3469 -158.0858
29         Maceio      BR     80.04  -9.6658  -35.7353
30          Kapaa      US     80.58  22.0752 -159.3190
36      Hithadhoo      MV     83.08  -0.6000   73.0833
40     Butaritari      KI     81.32   3.0707  172.7902

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [44]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping.')
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Albany,US,85.78,42.6001,-73.9662,
3,Jamestown,US,83.84,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Rikitea,PF,77.27,-23.1203,-134.9692,People ThankYou
16,Poum,NC,76.89,-20.2333,164.0167,
19,Makakilo City,US,82.15,21.3469,-158.0858,Marriott's Ko Olina Beach Club
29,Maceio,BR,80.04,-9.6658,-35.7353,Hotel Ponta Verde Maceió
30,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
36,Hithadhoo,MV,83.08,-0.6000,73.0833,Scoop Guest House
40,Butaritari,KI,81.32,3.0707,172.7902,Isles Sunset Lodge

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))